<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="<%= url("/style.css")%>" rel="stylesheet" type="text/css" />
  <link href="<%= url("public/style.css")%>" rel="stylesheet" type="text/css" />
  <link href="<%= url("/public/style.css")%>" rel="stylesheet" type="text/css" />
  <link href="<%= url("public/stylesheets/style.css")%>" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <script src="<%= url("/main.js")%>" type="text/javascript" > </script>
</head>
<body>
  <h1>Hello World</h1>
</body>
</html>
